body {
  background-color: #E4F9F5;
}

hr {
  border: 10px dotted grey;
  border-style: none none dotted;
  color: #fff;
  background-color: #E4F9F5;
  width: 10%;
	margin: auto;
}

h1 {
	color: #66BFBF;
}

h3 {
	color: #66BFBF;
}
